# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# testing
frontend/coverage
frontend/package-lock.json

# production
frontend/build


frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
